# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
pixez/
# Android signing keys
*.keystore
*.jks
debug.keystore
release.keystore